.sofa {
    opacity: 0.5;
}

.text {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

.para {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 90%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

.scroll-hide::-webkit-scrollbar {
    width: 0px;
    /* Set width to 0 to hide it */
    background: transparent;
    /* Make background transparent */
}

.servicebox {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

.reviewbox {
    width: 20%;
    height: 325px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(230, 223, 223);
    rotate: 10deg;
}

.fadeX {
    animation: fadeX 1s ease-in-out forwards;
}

@keyframes fadeX {
    0% {
        transform: translateX(1000px);
        opacity: 0.6;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeY {
    animation: fadeY 2s ease-in-out 1s forwards;
}

@keyframes fadeY {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.width0 {
    animation: width0 1s ease-in-out 1.2s forwards;
    transition: all;
}

@keyframes width0 {
    0% {
        width: 15%;
        opacity: 1;
    }

    100% {
        width: 0;
        opacity: 0;
        height: 0;
    }

}

.colorani {
    animation: coloranimation 1s ease-in-out 1.2s forwards;
}

@keyframes coloranimation {
    0% {
        color: #141212;
    }

    100% {
        color: white;
    }
}